fastapi==0.115.0
uvicorn==0.30.0
requests==2.32.3
python-dotenv
pydantic
slowapi==0.1.9
python-dotenv
pydantic-settings
SQLAlchemy==2.0.51
psycopg2-binary==2.9.12
python-jose==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1